/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */



/* =============================================================================
   My CSS
   ========================================================================== */



/* remove canvas default margin */

#particles-js{
	position: fixed;
	width:100%;
	height:100%;
	z-index: -1;
}


